
@media(max-width: 991px){
    .sidebar{
        background-color: #3c9aff;
        backdrop-filter: blur(10px);
    }
}

body {
    background-color: #f8f9fa; /* Bootstrap background color light */
  }
  .btn-show-flights {
    background-color: #002144; /* Button color */
    color: #fff; /* Button text color */
    
  }

  .custom-box {
    background-color: #002144;
    height: 350px; /* Προσαρμόστε το ύψος όπως επιθυμείτε */
}

/* .booking-cta {
    margin-top: 20px; 
} */



/* booking bar */

.form-label{
    font-size: 14px;
    color: #288CCA; 
    font-weight: bold; 
}

.custom-box {
    background-color: #002144;
    color: #fff;
    padding: 20px 0;
}

.booking-cta {
    margin-top: -310px; /* Προσαρμογή της αρνητικής τιμής για να μετακινήσει πάνω το Flight Booking Bar */
    position: relative; /* Χρησιμοποίησε την σχετική θέση */
    z-index: 3; /* Αυξήστε το z-index για να εμφανίζεται επάνω από το Flight Booking Bar */
}

/* .booking-cta {
    margin-top: 20px;
} */

.booking-cta h1 {
    font-size: 45px;
    color: white;
}

.booking-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -160px; /* Προσαρμογή της αρνητικής τιμής για να μετακινήσει πάνω το Flight Booking Bar */
    position: relative; /* Χρησιμοποίησε την σχετική θέση */
    z-index: 2; /* Αυξήστε το z-index για να εμφανίζεται πίσω από το κείμενο "Book Your Flight Today" */
}

.booking-form .form-group {
    margin-bottom: 20px;
}

.booking-form .form-control {
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.booking-form .form-control:focus {
    border-color: #002144;
    box-shadow: 0 0 5px rgba(0, 33, 68, 0.5);
}

.booking-form .submit-btn {
    background-color: #002144;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-form .submit-btn:hover {
    background-color: #001529;
}

.submit-btn {
    background-image: linear-gradient(-135deg, #f94ca4, #ff4b09, #288CCA, #2B3D91);
    color: #fff;
    padding: 20px 40px; /* Αλλαγή του padding για να αυξηθεί το μέγεθος οριζόντια και κατακόρυφα */
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.5; /* Αλλαγή του line-height για να αυξηθεί το ύψος του κουμπιού */
}

.submit-btn:hover {
    background-image: linear-gradient(-135deg, #1C5480, #1E2A66);
}




/* minibox */


.minibox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; Το ύψος της οθόνης */
	max-height: 5px;
	position: relative; /* Χρησιμοποιούμε position: relative; για να διατηρήσουμε το custom-box στη ροή του εγγράφου */
    z-index: 1; /* Το custom-box είναι πάνω από τα υπόλοιπα στοιχεία */
}


.minibox ul {
    margin: 0 5px; /* Προσθήκη ελαφριάς απόστασης μεταξύ των στοιχείων */
}

.mincontaomers{
	color: white;
	font-size: 17px;
	margin-left: 2px;
	border: 1px solid #002144;
	width: 280px;
    height: 50px;
	background-color: #002144;
	border-radius: 8px;
	display: inline-block;
	margin: 15px; /* Προσθέτει κενό 10px γύρω από το κουτί */

    line-height: 50px; /* Κατακόρυφη ευθυγράμμιση στο κέντρο */
}


/* h2 */
.namechange{
	color: #002144;
	font-weight: bold;
}

.card {
    padding: 0px;
    border-radius: 10px;
}


.card-img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    margin-bottom: .75rem;
    font-size: 1rem;
}

/* .img-fluid {
    border-radius: 10px 10px 0 0; */
    /* Αυτό θα θέσει τις γωνίες όπως ζητήσατε:
       πάνω-αριστερά: 0
       πάνω-δεξιά: 20px
       κάτω-δεξιά: 30px
       κάτω-αριστερά: 0
    */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
} */

@media (max-width: 576px) {
    .img-fluid {
        border-radius: 10px 10px 0 0;
    }
    .text-container{
        padding-left: 25px; 
        padding-right: 2px;
    }
}

@media (min-width: 577px) and (max-width: 770px) {
    .img-fluid {
        border-radius: 10px 10px 0 0;
    }
    .text-container{
        padding-left: 25px; 
        padding-right: 2px;
    }
}

@media (min-width: 769px) {
    .img-fluid {
        border-radius: 10px 0 0 10px;
    }
    .text-container{
        padding-left: 0px; 
        padding-right: 2px;
    }
}

