
@media(max-width: 991px){
    .sidebar{
        background-color: #002144;
        backdrop-filter: blur(10px);
    }
}


body {
    background-color: #f8f9fa; /* Bootstrap background color light */
  }
  .btn-show-flights {
    background-color: #002144; /* Button color */
    color: #fff; /* Button text color */
    
  }

  .custom-box {
    background-color: #002144;
    height: 350px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 50px; 
  }

  .custom-box p {
    margin: 0;
    font-weight: bold;
    font-size: 24px; 
  }

.booking{
    
}